:root {
  /* --font-family-sans-serif: 'SuisseIntl', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif; */

  /* --body-bg: #efedea;
  --text-color: #252525;
  --body-text: #252525;

  --brand-primary: #003547;
  --brand-secondary: #c7c1ba;

  --main-navigation-color: #003547;
  --main-navigation-color--inverted: #c7c1ba;
  --component-bg: #efedea; */
  /*--component-border-color: #777; */
  /* --component-box-shadow: 0 1px 3px color(var(--black) a(50%)); */

  /* --state-danger-color: #ff5f4b; */
}
